body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    background-color: black;
}

div {
    margin-top: 11px;
}

.row {
    border:0px solid black;
}
ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.list {
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.container{
    margin-top:20px ;
}